<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://miro.medium.com/v2/resize:fit:1200/1*XhW5MZhASiOyxJf-Nf8aQg.png" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do angular</a></h1>

    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias porro inventore eaque, ipsam itaque! Voluptatem at consequatur voluptatibus mollitia numquam, accusamus, cum, reprehenderit ullam labore eum exercitationem quae tempore.</p>
    </div>

</div>