<header>    
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card cardDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis molestias porro inventore eaque, ipsam itaque! Voluptatem at consequatur voluptatibus mollitia numquam, accusamus, cum, reprehenderit ullam labore eum exercitationem quae tempore." cardTitle="Saiu a nova versão do Angular" photoCover="https://miro.medium.com/v2/resize:fit:1200/1*XhW5MZhASiOyxJf-Nf8aQg.png"></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card cardTitle="Descubra mais sobre o framework Angular" photoCover="https://openfeature.dev/img/blog/2024-09-17-announcing-angular-sdk/angular.png"></app-small-card>
        <app-small-card cardTitle="Últimas notícias do Angular v19" photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"></app-small-card>
        <app-small-card cardTitle="Principais diferenças entre Angular e Angular JS" photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROe9GD3I5EbOyy_bkSq3y_qsKt-iITPr_rDA&s"></app-small-card>
    </div>
</div>